extends layout
block contenido
 h1(style="text-align:center; font-family:Comic Sans; background:#F3F781; border-radius:10px;") Añadir usuario
 div(class="container" style="background:white; border-radius:10px 10px 0px 0px ;width:100%")
    form(action="alta" method="post")
      div(class="input-field" style=" margin:2%")
        input(type="text" name="nombre" id="nombre" placeholder="Nombre" autofocus="true" required)
        
      div(class="input-field" style=" margin:2%")
        input(type="text" name="apellido" id="apellido" placeholder="Apellido" required)

      div(class="input-field" style=" margin:2%")
        input(type="number" min="0" name="edad" id="edad" placeholder="Edad" )

      div(class="input-field" style=" margin:2%")
        input(type="text" name="pais" id="pais" placeholder="Pais" )
      
      input(type="submit" value="Aceptar" style="margin-left:2%")
      input(type="button"  onclick=" location.href='http://localhost:8080' " value="Cancelar" style="margin-left:2%")

