<!DOCTYPE html>
html(lang="es")
head
  meta(charset="UTF-8")
  title Gestion de usuarios
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css")
  
  link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")

  script(src="https://code.jquery.com/jquery-3.1.1.min.js")

  script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js")
body(style='background-image: url(http://shumadf.ddns.net:8080/Shuma/images/fondos/GE-fondo8.jpg);')
  div(class="container")
    block contenido

    div
      footer(class="page-footer" style="background:black; color:white ; text-align:center; border-radius:0px 0px 10px 10px ") &copy; Eduardo Moreno 
    